/*
 * Globals
 */

/* Base structure */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.wrapper {
    background: url('images/landing_page_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    background-size: cover;
}

h1 {
    font-family: proxima-nova,sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-size: 3.5rem;
}

p {
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.76;
}

/* Nav */

nav {
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    opacity: 0.76;
}

nav a:hover {
    color: #EE3E40;
}


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom slanted button */

.button-slanted {
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    background-color: #E7CC3C;
    border: none;
}

    .button-slanted-content {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);  
    display: inline-block;
    text-transform: uppercase;
    color: #231f20;
    text-shadow: none; /* Prevent inheritance from `body` */
}

.button-slanted:hover {
    background-color: #EE3E40;
    color: #fff;
}

.cover .btn-lg {
    padding: .5rem 1rem;
    font-weight: 700;
    font-size: 1.0rem;
    line-height: 1.5;
    border-radius: 0;
}

/* Cover */
.cover {
  padding: 0 1.5rem;
  max-width: 50em;
}

/* Footer */
.grandfoot {
  color: rgba(255, 255, 255, .5);
}

.inner a:hover {
    color: #EE3E40;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
   h1 {font-size: 2.0rem; line-height: 1.3;}
    
   .cover {padding: 0 .5rem;}

   .wrapper img {width: 150px; height: 75px;}
}
